<% include ./partials/header %>

  <section class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 main-corgi">
      <h2>Do you like <%= name %>?</h2>
      <img src="<%= photo %>" alt="<%= name %>" class="corgi-banner img-responsive">


      <form name="likes" action="/dogs/<%= id %>" method="POST">
        <button type="submit" name="like" value="false">Paw left</button>
      </form>            
      <form name="likes" action="/dogs/<%= id %>" method="POST">
        <button type="submit" name="like" value="true">Paw right</button>
      </form>
    </div>

    <div><%= id %></div>
  </section>

  <section>
    <h3>Dogs You've Liked</h3>
    <ul><!-- LIKED DOG NAMES/PICS CAN GO HERE --></ul>
  </section>

  <a href="/dog_form">Click here</a>
<% include ./partials/footer %>
